/// Buttons

.btn {
  //@include set-pointer();
  position: relative;
  overflow: hidden;
  transition: all .25s ease;

  border-width: 0;
  padding: 0;
  background-color: transparent;
  outline: none;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .round {
    border-radius: 50%;
  }

  .capsule {
    border-radius: 1000px;
  }

  .outlined {
    background-color: white;
    border: 1px solid red;
  }
}
