/// Colors

$white: #fff;
$black: #000;
$grey: #333;
$dark-slate-grey: #2f4f4f;
$transparent: rgba(0, 0, 0, 0);

$supernova: #ccff00;
$yellow: #ffff00;
$persimmon: #ff6653;
$green: #53ff66;
$fuchsia: #ff00ff;

$color__primary: $fuchsia;

$modal-background: rgba(255, 255, 255, 0.8);

$palettes: (
  grey: (
    x-light: lighten($grey, 25%),
    light: lighten($grey, 12%),
    base: $grey,
    dark: darken($grey, 8%),
    x-dark: darken($grey, 16%)
  )
);
