/// Config

* {
  box-sizing: border-box;
}

// Base font size and line height
$base__font-size: 16px;
$base__line-height: 1;

// Webfonts
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i");

// Font stacks
$base__font-primary: "Roboto Mono", sans-serif;

$font-weight: (
  thin: 100,
  light: 300,
  normal: 400,
  medium: 500,
  bold: 700
);

$speed: 0.3s;
$z-index: (
  default: 0,
  modal: 100,
  top: 1000
);
