/// Buttons

.btn {
  @include set-pointer();
  position: relative;
  overflow: hidden;
  transition: all $speed ease;

  border-width: 0;
  padding: 0;
  background-color: $transparent;
  outline: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__round {
    border-radius: 50%;
  }

  &__capsule {
    border-radius: 1000px;
  }
}
