$btn-size: (
	sm: 32,
	md: 44,
	lg: 56,
);

.btn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: none;
	cursor: pointer;
	outline: none;
	@each $name, $value in $btn-size {
		&.#{$name} {
			min-height: #{$value}px;
			&.circle {
				min-width: #{$value}px;
			}
		}
	}
	&.rounded {
		padding: 0 15px;
		border-radius: 2px;
	}
	&.circle {
		padding: 0;
		border-radius: 100%;
	}
	&.disabled {
		cursor: not-allowed;
	}
	&:focus {
		box-shadow: 0 0 0 3px white;
	}
}
